<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ATM.DAL.Properties.Settings.BankConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Documents and Settings\jbraegger\Desktop\groupProject\Project\Database\Bank.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>